{% extends "base.html" %}

{% block title %}Meeting: {{meeting.title}}{% endblock %}

{% block content %}

    <h1>{{meeting.title}}</h1>
    <p>
        This is a Meeting is scheduled on {{meeting.date}}, at
        {{meeting.start_time}} in <strong>{{meeting.room}}</strong>.
    </p>
  
    <p>
        <a href="{% url 'home' %}">Home</a>
    </p>
{% endblock %}