{% extends "base.html" %}

{% block title %}New Meeting{% endblock %}

{% block content %}

    <h1>Plan a new meeting</h1>
    <form method="post">
        <table>
            {{ form }}
        </table>
        {% csrf_token %}
        <button type="submit">Save</button>
    </form>

    <p>
        <a href="{% url 'home' %}">Home</a>
    </p>
{% endblock %}