{% extends "base.html" %}

{% block title %}Room list{% endblock %}

{% block content %}
    <h1>Rooms</h1>
    <ul>
        {% for room in rooms %}
            <li>{{room}}</li>
        {% endfor %}
    </ul>

    <p>
        <a href="{% url 'home' %}">Home</a>
    </p>
{% endblock %}