{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <h1>Welcome to the Meeting Planner!</h1>
    <p>
        This is a Meeting Planner demo application for the course
        <em>Django: Getting started</em> on Pluralsight.
    </p>
    <p>
        There currently {{meetings.count}} meetings in the database.
    </p>
    <h2>Meetings</h2>
    <table>
        {% for meeting in meetings %}
            <tr >                
                <td><a href=" {% url 'meeting_detail' meeting.id%}">{{meeting}}</a></td>
            </tr>
        {% endfor %}
    </table>
    
    <p><a href=" {% url 'rooms' %}">Room list</a></p>
{% endblock %}